[submodule "origin/libraries/Sentry-Arduino"]
	path = origin/libraries/Sentry-Arduino
	url = https://github.com/AITosee/Sentry-Arduino
[submodule "origin/libraries/Sentry-Arduino"]
	path = origin/libraries/Sentry-Arduino
	url = https://github.com/AITosee/Sentry-Arduino
